In [2]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-py2.py3-none-any.whl (390 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 390.1/390.1 kB 3.0 MB/s eta 0:00:0000:0100:01
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp39-cp39-macosx_10_9_x86_64.whl (982 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 982.8/982.8 kB 13.3 MB/s eta 0:00:00a 0:00:01
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.33 protobuf-3.20.3

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip3.9 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector

# Establish a connection to the MySQL server
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root1234",
    database="c361cohort"
)

cursor = connection.cursor()
create_tablequery = """CREATE TABLE IF not exists table_name1( column1 varchar(255), column2 int)"""

cursor.execute(create_tablequery)
print("table created succesfully")

insert_query = "insert into table_name1 (column1, column2) values(%s,%s)"

data = [("value1", 22),("value2",99)]
cursor.executemany(insert_query,data)

connection.commit()

selectquery = "select * from table_name1"
cursor.execute(selectquery)

rows = cursor.fetchall()

for row in rows:
    print(row)

cursor.close()
connection.close()

table created succesfully
('value1', 22)
('value2', 99)

In [3]:
from flask import Flask
import mysql.connector
import json

app = Flask(__name__)
app.config['SECRET_KEY'] = 'fbfbaehfbhaekwfkjebfjk'

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root1234",
    database="activity"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE products1212 (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), price FLOAT)")
mycursor.execute("CREATE TABLE cart1212 (id INT AUTO_INCREMENT PRIMARY KEY, product_id INT, quantity INT)")
mycursor.execute("CREATE TABLE orders1212 (id INT AUTO_INCREMENT PRIMARY KEY, product_id INT, quantity INT, customer_name VARCHAR(255))")

product_data = [
    ("Shirt", 20),
    ("Pants", 30),
    ("Dress", 39)
]

cart_data = [
    (1, 2),
    (2, 1)
]

order_data = [
    (1, 2, "rohan"),
    (2, 1, "goku")
]

insert_products = "INSERT INTO products1212 (name, price) VALUES (%s, %s)"
mycursor.executemany(insert_products, product_data)

insert_cart = "INSERT INTO cart1212 (product_id, quantity) VALUES (%s, %s)"
mycursor.executemany(insert_cart, cart_data)

insert_orders = "INSERT INTO orders1212 (product_id, quantity, customer_name) VALUES (%s, %s, %s)"
mycursor.executemany(insert_orders, order_data)

NameError: name 'cursor' is not defined

In [5]:
mydb.commit()

selectquery = "select * from products1212"
mycursor.execute(selectquery)

rows = mycursor.fetchall()

for row in rows:
    print(row)

(1, 'Shirt', 20.0)
(2, 'Pants', 30.0)
(3, 'Dress', 39.0)